h1 {
    color: #ff4800;
    margin: 30px;
}

.header *{
    border:solid;
}

/* * {
    border: solid;
} */

body{
    background-color: #BBA997;
}

.header{
    background-color: #12AA12;
    display: flex;
    justify-content: space-between;
}

.item{
    position:relative;
}

.item p{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0;
}

.menu{
    color: yellow;
    margin: 10px;
}

.menu a{
    margin-right: 10px;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

a:link{
    color: #ffffff;
}

a:visited {
    color: tomato;
}